# SAMBA Asset Management - Environment Configuration

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=asset_db

# Google / Gmail SMTP Configuration (For automatic OTP & invitation emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_16_digit_google_app_password
APP_URL=https://system-samba.my.id
APP_NAME=SAMBA Asset Management
